<header class="h-32 w-full flex justify-between items-center bg-slate-50 px-12 shadow-lg">
  <!-- Logo -->
  <button (click)="welcome()">
    <img src="./assets/icon-vital.png" alt="Vital SH Logo" class="h-24 w-25">
  </button>

  <!-- Navegación de botones -->
  <nav class="flex space-x-40">
    <button class="text-[#9042B7] font-bold hover:underline text-xl" (click)="establishments()">ESTABLECIMIENTOS</button>
    <button class="text-[#9042B7] font-bold hover:underline text-xl" (click)="see()">CITAS</button>
    
    <!-- Botón de Campañas con flecha para desplegar opciones -->
    <div class="relative">
      <button class="text-[#9042B7] font-bold hover:underline text-xl flex items-center" (click)="toggleCampaignMenu()">
        CAMPAÑAS
        <span class="ml-1">&#9660;</span> <!-- Ícono de flecha -->
      </button>

      <!-- Opciones desplegables -->
      <div *ngIf="isCampaignMenuOpen" class="absolute top-4 w-24 bg-white border border-gray-300 rounded shadow-lg text-xs">
        <button class="block px-2 py-1 text-[#9042B7] hover:bg-gray-200 w-full text-left" (click)="receptionistSee()">Ver</button>
        <button class="block px-2 py-1 text-[#9042B7] hover:bg-gray-200 w-full text-left" (click)="addCampaign()">Agregar</button>
        <button class="block px-2 py-1 text-[#9042B7] hover:bg-gray-200 w-full text-left" (click)="deleteCampaigns()">Eliminar</button>
        <button class="block px-2 py-1 text-[#9042B7] hover:bg-gray-200 w-full text-left" (click)="editCampaigns()">Editar</button>
      </div>
    </div>
  </nav>

  <button class="bg-[#BE6DD7] text-white font-medium py-2 px-6 rounded hover:bg-purple-700 transition-colors" (click)="endSesion()">Cerrar Sesión</button>
</header>
