<div class="flex flex-col gap-6 max-w-3xl mx-auto">
  <h2 class="text-3xl font-bold text-center mt-20 text-[#9042B7]">Atención y Cuidados Ofrecidos</h2>
  <div class="flex flex-col md:flex-row items-center bg-white p-8 rounded-lg mt-6 mb-10">
    <div class="relative w-full md:w-72 h-72 md:mr-6">
      <div class="bg-[#BE6DD7] w-full h-full absolute top-3 right-3 rounded-lg"></div> <!-- Fondo de color BE6DD7 -->
      <img src="/assets/doctores.jpeg" alt="Imagen de sitios médicos" class="w-full h-full object-cover relative rounded-lg" />
    </div>
    <div class="flex-1 mt-4 md:mt-0">
      <h3 class="text-2xl font-semibold text-gray-800">Los mejores Sitios</h3>
      <p class="text-lg text-gray-600 mt-3">Los mejores lugares para tu atención médica cerca de tu localidad.</p>
    </div>
  </div>

  <div class="flex flex-col md:flex-row-reverse items-center bg-white p-8 rounded-lg mt-6 mb-10">
    <div class="relative w-full md:w-72 h-72 md:ml-6">
      <div class="bg-[#BE6DD7] w-full h-full absolute top-3 left-3 rounded-lg"></div> <!-- Fondo de color BE6DD7 -->
      <img src="/assets/doctores2.jpeg" alt="Imagen de servicios médicos" class="w-full h-full object-cover relative rounded-lg" />
    </div>
    <div class="flex-1 mt-4 md:mt-0 text-right">
      <h3 class="text-2xl font-semibold text-gray-800">Los mejores Servicios</h3>
      <p class="text-lg text-gray-600 mt-3">Nos preocupamos por ti y por tu familia ofreciendo los mejores servicios a tu disposición.</p>
    </div>
  </div>
  <div class="flex flex-col md:flex-row items-center bg-white p-8 rounded-lg mb-10">
    <div class="relative w-full md:w-72 h-72 md:mr-6">
      <div class="bg-[#BE6DD7] w-full h-full absolute top-3 right-3 rounded-lg"></div> <!-- Fondo de color BE6DD7 -->
      <img src="/assets/doctores3.jpeg" alt="Imagen de embarazo" class="w-full h-full object-cover relative rounded-lg" />
    </div>
    <div class="flex-1 mt-4 md:mt-0">
      <h3 class="text-2xl font-semibold text-gray-800">Atención a embarazos</h3>
      <p class="text-lg text-gray-600 mt-3">Algunos hospitales cuentan con equipo especializado para monitorear embarazos y su seguimiento.</p>
    </div>
  </div>
</div>
