<app-header-patient></app-header-patient>

<div class="bg-purple-100 p-32 rounded-md">
    <div class="relative inline-flex items-center border-2 border-[#9042B7] px-8 py-4 rounded-md ml-12">
      <select class="appearance-none text-[#9042B7] font-semibold bg-transparent focus:outline-none pr-20">
        <option selected>Atendidos</option>
        <option>No Atendidos</option>
        <option>En Espera</option>
        <option>Cancelados</option>
      </select>
      <svg class="w-10 h-10 text-[#9042B7] absolute right-3 pointer-events-none" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
        <path d="M7 10l5 5 5-5H7z"/>
      </svg>
    </div>
  </div>
  
  
  