<div class="max-w-screen-lg mx-auto px-4 py-6 relative">
  <header class="flex justify-between items-center mb-6 relative z-10 flex-wrap">
    <img
      src="./assets/icon-vital.png"
      alt="Vital SH Logo"
      class="w-24 relative -top-2"
    />
    <button
      class="bg-[#A526CB] text-white font-semibold px-6 py-3 rounded-md text-lg z-20 hover:bg-[#8D1F9C] mt-4 sm:mt-0 ml-auto"
      (click)="login()"
    >
      LOGIN
    </button>
  </header>

  <!-- Main Content -->
  <div class="flex flex-col sm:flex-row items-center gap-8">
    <!-- Text Section -->
    <div class="text-center sm:text-left sm:max-w-md relative mt-8 sm:mt-0 mb-10 sm:mb-0">
      <h1 class="text-3xl sm:text-4xl font-bold mb-4" style="color: #812B8A;">
        Cuidamos de tu bienestar con experiencia y compromiso.
      </h1>
      <p class="text-xl sm:text-lg mb-6" style="color: #A526CB;">
        En Vital Suchiapa, te ayudamos a encontrar hospitales públicos y privados,
        así como consultorios especializados, para atender la salud de toda tu familia.
      </p>
      <button
        class="bg-[#A526CB] text-white font-bold sm:px-14 sm:py-2 px-8 py-2 rounded-lg shadow-lg hover:bg-[#8D1F9C] mt-8 sm:mt-0"
        (click)="signPatient()"
      >
        Registrate!
      </button>
    </div>

    <div class="w-full sm:w-1/2 -mt-16 relative">
      <img src="assets/landing.jpeg" alt="Atención médica" class="w-full" />
    </div>
  </div>
</div>

<div class="hidden sm:block">
  <div class="flex justify-center items-center p-4 sm:p-6 md:p-20">
    <div class="w-full max-w-screen-lg">
      <!-- Título de los servicios -->
      <h2 class="text-4xl font-bold text-center text-[#812B8A] mb-8">Servicios que ofrecemos</h2>
  
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8 w-full border-4 border-[#ffffff] rounded-lg p-8 bg-gray-50">
        <!-- Primera tarjeta -->
        <div class="flex flex-col items-center text-center bg-white border-4 border-[#812B8A] rounded-lg p-6 h-64 transition-transform duration-300 transform hover:bg-[#BE6DD7] hover:-translate-y-2 hover:shadow-lg hover:border-transparent hover:text-white">
          <p class="font-semibold mb-4 hover:text-white">Establecimientos</p>
          <div class="w-24 h-24 flex justify-center items-center bg-white border-4 border-[#812B8A] rounded-full mb-6">
            <img src="./assets/establecimientos.png" alt="Establecimientos" class="h-16 w-16">
          </div>
          <p class="text-center text-gray-600 hover:text-white">Los mejores establecimientos</p>
        </div>
  
        <!-- Segunda tarjeta -->
        <div class="flex flex-col items-center text-center bg-white border-4 border-[#812B8A] rounded-lg p-6 h-64 transition-transform duration-300 transform hover:bg-[#BE6DD7] hover:-translate-y-2 hover:shadow-lg hover:border-transparent hover:text-white">
          <p class="font-semibold mb-4 hover:text-white">Citas</p>
          <div class="w-24 h-24 flex justify-center items-center bg-white border-4 border-[#812B8A] rounded-full mb-6">
            <img src="./assets/cita.png" alt="Citas" class="h-16 w-16">
          </div>
          <p class="text-center text-gray-600 hover:text-white">Agenda tus citas fácilmente</p>
        </div>
  
        <!-- Tercera tarjeta -->
        <div class="flex flex-col items-center text-center bg-white border-4 border-[#812B8A] rounded-lg p-6 h-64 transition-transform duration-300 transform hover:bg-[#BE6DD7] hover:-translate-y-2 hover:shadow-lg hover:border-transparent hover:text-white">
          <p class="font-semibold mb-4 hover:text-white">Doctores</p>
          <div class="w-24 h-24 flex justify-center items-center bg-white border-4 border-[#812B8A] rounded-full mb-6">
            <img src="./assets/medico.png" alt="Doctores" class="h-16 w-16">
          </div>
          <p class="text-center text-gray-600 hover:text-white">Los mejores doctores</p>
        </div>
  
        <!-- Cuarta tarjeta -->
        <div class="flex flex-col items-center text-center bg-white border-4 border-[#812B8A] rounded-lg p-6 h-64 transition-transform duration-300 transform hover:bg-[#BE6DD7] hover:-translate-y-2 hover:shadow-lg hover:border-transparent hover:text-white">
          <p class="font-semibold mb-4 hover:text-white">Confiable</p>
          <div class="w-24 h-24 flex justify-center items-center bg-white border-4 border-[#812B8A] rounded-full mb-6">
            <img src="./assets/confiable.png" alt="Confiable" class="h-16 w-16">
          </div>
          <p class="text-center text-gray-600 hover:text-white">100% confiables</p>
        </div>
      </div>
    </div>
  </div>
</div>


<app-cartslanding></app-cartslanding>
<app-footerpatient></app-footerpatient>
