<div class="max-w-screen-lg mx-auto px-4 py-6 relative">
    <header class="flex justify-between items-center mb-6 relative z-10 flex-wrap">
      <img
        src="./assets/icon-vital.png"
        alt="Vital SH Logo"
        class="w-24 relative -top-2"
      />
      <button
        class="bg-[#A526CB] text-white font-semibold px-6 py-3 rounded-md text-lg z-20 hover:bg-[#8D1F9C] mt-4 sm:mt-0 ml-auto"
        (click)="login()"
      >
        LOGIN
      </button>
    </header>
  
    <!-- Main Content -->
    <div class="flex flex-col sm:flex-row items-center gap-8">
      <!-- Text Section -->
      <div class="text-center sm:text-left sm:max-w-md relative mt-8 sm:mt-0 mb-10 sm:mb-0">
        <h1 class="text-3xl sm:text-4xl font-bold mb-4" style="color: #812B8A;">
          Tu salud en manos expertas, con atención que marca la diferencia.
        </h1>
        <p class="text-xl sm:text-lg mb-6" style="color: #A526CB;">
          En Vital Suchiapa contamos con diversos servicios para cuidar tu salud
          y la de tu familia.
        </p>
        <button
          class="bg-[#A526CB] text-white font-bold sm:px-14 sm:py-2 px-8 py-2 rounded-lg shadow-lg hover:bg-[#8D1F9C] mt-8 sm:mt-0"
          (click)="login()"
        >
          Agenda ya!
        </button>
      </div>
  
      <!-- Image Section -->
      <div class="w-full sm:w-1/2 -mt-16 relative">
        <img src="assets/landing.jpeg" alt="Atención médica" class="w-full" />
      </div>
    </div>
  </div>
  
  <app-cartslanding></app-cartslanding>
  <app-cartpatient></app-cartpatient>
  <app-footerpatient></app-footerpatient>
  