<app-header-receptionist></app-header-receptionist>

<div class="w-full min-h-[calc(100vh-128px)] flex items-center justify-center bg-gray-200">
  <div class="w-[85%] min-h-[calc(70vh)] my-8 bg-purple-100 flex flex-col items-center p-5 lg:w-[70%]">
    <label for="fileInput" class="text-gray-700 font-semibold mb-3">Cargar Imagen (Opcional)</label>
    <input type="file" id="fileInput" (change)="onChangeSelectedImage($event)" class="mb-5 bg-white border border-gray-300 rounded w-60 p-1"/>

    <button class="bg-fuchsia-700 text-white min-h-7 w-40 rounded" (click)="generateAll()">Generar Todo</button>
  </div>
</div>
