<app-header-doctor></app-header-doctor>

<div
  class="relative min-h-screen w-full bg-cover bg-center flex flex-col items-center justify-center"
  style="background-image: url('/assets/doc.png'); background-size: cover; background-position: 30% center; background-repeat: no-repeat;"
>
  <h1 class="block md:hidden text-5xl font-bold text-black mt-32">
    {{ 'bienvenido' | uppercase }}
  </h1>

  <h1 class="hidden md:block text-4xl sm:text-5xl md:text-6xl font-semibold mt-12 text-black transform sm:translate-x-0 md:translate-x-12 lg:translate-x-48">
    {{ 'bienvenido' | uppercase }}
  </h1>
</div>
