<app-header-receptionist></app-header-receptionist>

<div class="w-full min-h-[calc(100vh-128px)] flex items-center justify-center bg-gray-200">

    <div class="w-[85%] min-h-[calc(70vh)] my-8 bg-purple-100 flex flex-col items-center p-5 lg:w-[70%]">
        <p class="text-4xl font-bold mb-4 text-purple-800">Agregar Establecimiento</p>

        <form [formGroup]="formData" class="w-[90%] mt-5">
            <div class="w-full mb-6 bg-purple-200 p-5 rounded-md">
                <p class="font-semibold text-purple-600 mb-2">DATOS</p>
                
                <div class="flex flex-wrap justify-between">
                    <div class="w-[calc(48%)] min-w-[210px]">
                        <label class="form-child-label">Nombre:</label>
                        <input class="form-child border-fuchsia-800 w-full" type="text" formControlName="nombre">
                    </div>
                    
                    <div class="w-[calc(48%)] min-w-[210px]">
                        <label class="form-child-label">Descripción:</label>
                        <input class="form-child border-fuchsia-800 w-full" type="text" formControlName="descripción">
                    </div>
                    
                    <div class="w-[calc(48%)] min-w-[210px]">
                        <label class="form-child-label">Tipo:</label>
                        <select class="form-child border-fuchsia-800 w-full" id="id_tipo_establecimiento" formControlName="id_type_establishment">
                            <option *ngFor="let option of type_options" [value]="option.id_tipo_establecimiento">
                                {{ option.tipo | titlecase }}
                            </option>
                        </select>
                    </div>

                    <div class="w-[calc(48%)] min-w-[210px]">
                        <label class="form-child-label">Categoría:</label>
                        <select class="form-child border-fuchsia-800 w-full" id="categoria" formControlName="categoria">
                            <option *ngFor="let option of categoria" [value]="option">
                                {{ option | uppercase }}
                            </option>
                        </select>
                    </div>
                    <div class="w-[calc(48%)] min-w-[210px]">
                        <label class="form-child-label">Localidad:</label>
                        <select class="form-child w-full" formControlName="localidad">
                            <option *ngFor="let localidad of localidades" [value]="localidad">
                                {{ localidad | lowercase }}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </form>
        
        <form [formGroup]="formUbication" class="w-[90%] mt-5 rounded-md">
            <div class="w-full mb-6 bg-purple-200 p-5 rounded-md">
                <p class="font-semibold text-purple-600 mb-2">UBICACIÓN</p>
                
                <div class="flex flex-wrap justify-between">
                    <div class="w-[calc(31%)] min-w-[210px]">
                        <label class="form-child-label">Calle:</label>
                        <input class="form-child w-full" type="text" formControlName="calle">
                    </div>
                    
                    <div class="w-[calc(31%)] min-w-[210px]">
                        <label class="form-child-label">Colonia:</label>
                        <input class="form-child w-full" type="text" formControlName="colonia">
                    </div>
                    
                    <div class="w-[calc(31%)] min-w-[210px]">
                        <label class="form-child-label">Descripción:</label>
                        <input class="form-child w-full" type="text" formControlName="descripcion">
                    </div>

                    <div class="w-[calc(31%)] min-w-[210px]">
                        <label class="form-child-label">Número:</label>
                        <input class="form-child w-full" type="text" formControlName="numero">
                    </div>
                    
                    <div class="w-[calc(31%)] min-w-[210px]">
                        <label class="form-child-label">Latitud:</label>
                        <input class="form-child w-full" type="text" formControlName="latitud">
                    </div>
                    
                    <div class="w-[calc(31%)] min-w-[210px]">
                        <label class="form-child-label">Longitud:</label>
                        <input class="form-child w-full" type="text" formControlName="longitud">
                    </div>
                    
                </div>
            </div>
        </form>
        
        <form [formGroup]="formSchedule" class="w-[90%] mt-5">
            <div class="w-full mb-6 flex flex-wrap bg-purple-200 p-5 rounded-md">
                <p class="font-semibold text-purple-600 mb-2">HORARIO</p>
                
                <div class="w-full flex flex-wrap justify-between">
                    <div class="w-[calc(48%)] min-w-[210px]">
                        <div class="w-full">
                            <label class="form-child-label">Hora de inicio:</label>
                            <input class="form-child w-full" type="time" formControlName="entrada">
                        </div>
                    </div>
                    <div class="w-[calc(48%)] min-w-[210px]">
                        <div class="w-full">
                            <label class="form-child-label">Hora de cierre:</label>
                            <input class="form-child w-full" type="time" formControlName="salida">
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <div class="w-[90%] mt-5">
            <div class="w-full mb-6 bg-purple-200 p-5 rounded-md">
                <p class="font-semibold text-purple-600 mb-2">IMAGEN</p>
                
                <label class="form-child-label">Agregar Imagen:</label>
                <div class="flex justify-between">
                    <input class="bg-white form-child w-[48%]" type="file" id="selectImage" (change)="onChangeSelectedImage($event)" #fileinput>
                    <button type="button" class="w-[48%] bg-purple-700 text-white p-1 ml-2 rounded" (click)="deleteSelectedImage(fileinput)">Eliminar imagen</button>
                </div>
            </div>
        </div>
        
        <button (click)="onSubmit()" type="submit" class="bg-fuchsia-700 text-white p-2 rounded w-[90%] mb-8">Guardar</button>

        <form [formGroup]="formServices" class="w-[90%] mt-5">
            <div class="w-full mb-6 bg-purple-200 p-5 rounded-md">
                <p class="font-semibold text-purple-600 mb-2">SERVICIOS</p>
                
                <div class="w-full flex flex-wrap justify-between">
                    <div class="w-[48%]">
                        <label class="form-child-label">Servicio:</label>
                        <select class="form-child w-full" formControlName="servicio">
                            <option *ngFor="let service of nameServices" [value]="service">
                                {{ service | titlecase }}
                            </option>
                        </select>
                    </div>
                    
                    <div class="w-[48%]">
                        <label class="form-child-label">Costo:</label>
                        <input class="form-child border-fuchsia-800 w-full" type="text" formControlName="costo">
                    </div>
                </div>
        
                <div class="w-full flex flex-wrap justify-between mt-2">
                    <button type="button" class="w-[48%] bg-fuchsia-700 text-white p-1 rounded" (click)="postServiceOnEstablishment()">Añadir</button>
                    <button type="button" class="w-[48%] bg-purple-700 text-white p-1 rounded" (click)="deleteService()">Eliminar servicio</button>
                </div>
        
                <p *ngIf="services.length === 0" class="text-center mt-4 text-gray-500 italic">No hay servicios que mostrar</p>
                <div class="w-full min-h-[50px] bg-gray-100 hover:bg-gray-200 cursor-pointer mt-2 p-3 rounded-md transition-colors" *ngFor="let service of services; let i = index" (click)="selectService(service)">
                    <p *ngIf="services.length > 0" class="text-gray-700 font-medium" [ngClass]="{'bg-blue-100 text-blue-700 p-2 rounded-md': selectedService === service}" >
                      {{ service.service | uppercase }}
                    </p>
                </div>
            </div>
        </form>
        <form [formGroup]="formDoctors" class="w-[90%] mt-5">
            <div class="w-full mb-6 bg-purple-200 p-5 rounded-md">
                <p class="font-semibold text-purple-600 mb-2">DOCTORES</p>
                
                <div class="w-full flex flex-wrap justify-between">
                    <div class="w-[48%]">
                        <label class="form-child-label mt-2">Doctores:</label>
                        <select class="form-child w-full" formControlName="doctor">
                            <option *ngFor="let doctor of doctors" [value]="doctor.id_usuario">
                                {{ doctor.nombre }}
                            </option>
                        </select>
                    </div>
                    
                    <div class="w-[48%]">
                        <label class="form-child-label mt-2">Servicio:</label>
                        <select class="form-child w-full" formControlName="servicioDoctor">
                            <option *ngFor="let service of services" [value]="service.id_service">
                                {{ service.service }}
                            </option>
                        </select>
                    </div>
                </div>
        
                <div class="w-full flex flex-wrap justify-between">
                    <button type="button" class="w-[48%] bg-fuchsia-700 text-white p-1 mt-2 rounded" (click)="postDoctorOnEstablishment()">Añadir</button>
                    <button type="button" class="w-[48%] bg-purple-700 text-white p-1 mt-2 rounded" (click)="deleteDoctorFromEstablishment()">Eliminar doctor</button>
                </div>
        
                <p *ngIf="currentDoctors.length === 0" class="text-center text-gray-500 italic mt-4">No hay médicos que mostrar </p>
                <div class="w-full min-h-[50px] bg-gray-100 hover:bg-gray-200 cursor-pointer mt-2 p-3 rounded-md transition-colors" *ngFor="let doctor of currentDoctors" (click)="selectDoctor(doctor.id_usuario)" >
                    <p *ngIf="currentDoctors.length > 0" class="text-gray-700 font-medium" [ngClass]="{'bg-blue-100 text-blue-700 p-2 rounded-md': selectedDoctor === doctor.id_usuario}">{{ doctor.nombre }}</p>
                </div>
            </div>
        </form>
    </div>
</div>
