<app-header-receptionist></app-header-receptionist>
<div class="w-full min-h-[calc(100vh-128px)] flex items-center justify-center bg-gray-200">

    <div class="w-[85%] min-h-[calc(70vh)] my-8 bg-purple-100 flex flex-col items-center p-5 lg:w-[70%]">
        <p class="text-lg font-bold mb-4 text-purple-800">Agregar Establecimiento</p>

        <form [formGroup]="formData" class="w-[90%] lg:px-10">
            <div class="w-full mb-6">
                <p class="font-semibold text-purple-600 mb-2">DATOS</p>
                
                <div class="flex flex-wrap justify-between">
                    <div class="w-[calc(48%)] min-w-[210px]">
                        <label class="form-child-label">Nombre:</label>
                        <input class="form-child border-fuchsia-800 w-full" type="text" formControlName="nombre">
                    </div>
                    
                    <div class="w-[calc(48%)] min-w-[210px]">
                        <label class="form-child-label">Descripción:</label>
                        <input class="form-child border-fuchsia-800 w-full" type="text" formControlName="descripción">
                    </div>
                    
                    <div class="w-[calc(48%)] min-w-[210px]">
                        <label class="form-child-label">Tipo:</label>
                        <select class="form-child border-fuchsia-800 w-full" id="id_tipo_establecimiento" formControlName="id_tipo_establecimiento">
                            <option *ngFor="let option of type_options" value={{option.id_tipo_establecimiento}}>
                                {{option.tipo}}
                            </option>
                        </select>
                    </div>

                    <div class="w-[calc(48%)] min-w-[210px]">
                        <label class="form-child-label">Categoría:</label>
                        <input class="form-child border-fuchsia-800 w-full" formControlName="categoria">
                    </div>
                </div>
            </div>
        </form>
        <form [formGroup]="formUbication" class="w-[90%] lg:px-10">
            <div class="w-full mb-6">
                <p class="font-semibold text-purple-600 mb-2">UBICACIÓN</p>
                
                <div class="flex flex-wrap justify-between">
                    <div class="w-[calc(31%)] min-w-[210px]">
                        <label class="form-child-label">Calle:</label>
                        <input class="form-child w-full" type="text" formControlName="calle">
                    </div>
                    
                    <div class="w-[calc(31%)] min-w-[210px]">
                        <label class="form-child-label">Colonia:</label>
                        <input class="form-child w-full" type="text" formControlName="colonia">
                    </div>
                    
                    <div class="w-[calc(31%)] min-w-[210px]">
                        <label class="form-child-label">Número:</label>
                        <input class="form-child w-full" type="text" formControlName="numero">
                    </div>
                    
                    <div class="w-[calc(31%)] min-w-[210px]">
                        <label class="form-child-label">Latitud:</label>
                        <input class="form-child w-full" type="text" formControlName="latitud">
                    </div>
                    
                    <div class="w-[calc(31%)] min-w-[210px]">
                        <label class="form-child-label">Longitud:</label>
                        <input class="form-child w-full" type="text" formControlName="longitud">
                    </div>
                    
                </div>
            </div>
        </form>
        <form [formGroup]="formSchedule" class="w-[90%] lg:px-10">
            <div class="w-full mb-6 flex flex-wrap">
                <p class="font-semibold text-purple-600 mb-2">HORARIO</p>
                
                <div class="w-full flex flex-wrap justify-between">
                    <div class="w-[calc(48%)] min-w-[260px]">
                        <div class="w-full">
                            <label class="form-child-label">Hora de inicio:</label>
                            <input class="form-child w-full" type="time" formControlName="entrada">
                        </div>
    
                        <div class="w-full">
                            <label class="form-child-label">Hora de cierre:</label>
                            <input class="form-child w-full" type="time" formControlName="salida">
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="w-[90%] lg:px-10">
            <div class="w-full mb-6">
                <p class="font-semibold text-purple-600 mb-2">IMAGEN</p>
                
                <label class="form-child-label">Agregar Imagen:</label>
                <div class="flex justify-between">
                    <input class="bg-white form-child w-[48%]" type="file" id="selectImage" (change)="onChangeSelectedImage($event)">
                    <button type="button" class="w-[48%] bg-purple-700 text-white p-1 ml-2 rounded">Eliminar imágen</button>
                </div>
            </div>
        </div>
        <form [formGroup]="formServices" class="w-[90%] lg:px-10">
            <div class="w-full mb-6">
                <p class="font-semibold text-purple-600 mb-2">SERVICIOS</p>
                
                <div class="w-full flex flex-wrap justify-between">
                    <div class="w-[48%]">
                        <label class="form-child-label">Servicio:</label>
                        <div class="">
                            <select class="form-child w-full" formControlName="servicio">
                                <!-- Opciones de servicios -->
                            </select>
                        </div>
                    </div>
                    <div class="w-[48%]">
                        <label class="form-child-label">Costo:</label>
                        <input class="form-child border-fuchsia-800 w-full" type="text" formControlName="costo">
                    </div>
                </div>

                <div class="w-full flex flex-wrap justify-between mt-2">
                    <button type="button" class="w-[48%] bg-fuchsia-700 text-white p-1 rounded">Añadir</button>
                    <button type="button" class="w-[48%] bg-purple-700 text-white p-1 rounded">Eliminar servicio</button>
                </div>

                <div class="w-full min-h-[50px] bg-white mt-2">
                    
                </div>
            </div>
        </form>
        <form [formGroup]="formDoctors" class="w-[90%] lg:px-10">
            <div class="w-full mb-6 ">
                <p class="font-semibold text-purple-600 mb-2">DOCTORES</p>
                
                <div class="w-full flex flex-wrap justify-between">
                    <div class="w-[48%]">
                        <label class="form-child-label">Doctor:</label>
                        <select class="form-child w-full" formControlName="doctor">
                            <!-- Opciones de doctor -->
                        </select>
                    </div>
                    
                    <div class="w-[48%]">
                        <label class="form-child-label mt-2">Servicio:</label>
                        <select class="form-child w-full" formControlName="servicioDoctor">
    
                        </select>
                    </div>
                </div>

                <div class="w-full flex flex-wrap justify-between">
                    <button type="button" class="w-[48%] bg-fuchsia-700 text-white p-1 mt-2 rounded">Añadir</button>
                    <button type="button" class="w-[48%] bg-purple-700 text-white p-1 mt-2 rounded">Eliminar doctor</button>
                </div>

                <div class="w-full min-h-[50px] bg-white mt-2">
                    
                </div>
            </div>
        </form>
           
            <button (click)="onSubmit()" type="submit" class="bg-fuchsia-700 text-white p-2 rounded w-[82%]">Guardar</button>
    </div>
</div>
