<app-header-patient></app-header-patient>
<app-cartspatient></app-cartspatient>
<app-cartpatientcampanis></app-cartpatientcampanis>

<div class="container mx-auto py-16 px-4">
  <div class="flex flex-col lg:flex-row items-center justify-between gap-12">
    <div class="w-full lg:w-1/2 mb-8 lg:mb-0">
      <img src="assets/pregunta.jpeg" alt="Imagen FAQ" class="w-full sm:max-w-[150px] lg:max-w-full h-auto rounded-lg">
    </div>
    <div class="w-full lg:w-1/2">
      <h2 class="text-3xl lg:text-4xl font-semibold text-gray-800 mb-6">
        Preguntas Frecuentes
      </h2>
      <div class="space-y-6">
        <div *ngIf="showFirstGroup">
          <div class="p-4 bg-gray-100 rounded-lg shadow-md mb-4">
            <h3 class="text-lg lg:text-xl font-semibold text-gray-700 cursor-pointer" (click)="toggleAnswer(0)">
              ¿Cómo puedo agendar una cita?
            </h3>
            <p *ngIf="answers[0]" class="text-gray-600">
              Puedes agendar una cita llendo a la parte del encabezado en la opcion de servicios al darle click te apareceran los establecimientos mas cercanos a tu ubicacion , o si lo prefieres puedes buscar el establecimiento de tu preferencia.
            </p>
          </div>
          <div class="p-4 bg-gray-100 rounded-lg shadow-md mb-4">
            <h3 class="text-lg lg:text-xl font-semibold text-gray-700 cursor-pointer" (click)="toggleAnswer(1)">
              ¿Cómo puedo buscar una campaña?
            </h3>
            <p *ngIf="answers[1]" class="text-gray-600">
              Para buscar una campaña en el encabezado en la opcion que dice campaña al mometo de entrar te apareceran las campañas disponibles de diferentes establecimientos o si lo prefieres puedes buscar por el nombre de la campaña.
            </p>
          </div>
          <div class="p-4 bg-gray-100 rounded-lg shadow-md mb-4">
            <h3 class="text-lg lg:text-xl font-semibold text-gray-700 cursor-pointer" (click)="toggleAnswer(2)">
              ¿Cómo puedo ver mis citas?
            </h3>
            <p *ngIf="answers[2]" class="text-gray-600">
              Puedes ver todas tus citas en el encabezado en la opcion que dice citas te apareceran tus citas atendidas y no atendidas.
            </p>
          </div>
          <div class="p-4 bg-gray-100 rounded-lg shadow-md mb-4">
            <h3 class="text-lg lg:text-xl font-semibold text-gray-700 cursor-pointer" (click)="toggleAnswer(3)">
              ¿Cómo buscar un establecimiento por servicio o por nombre?
            </h3>
            <p *ngIf="answers[3]" class="text-gray-600">
              Puedes buscar un establecimiento en la opcion de servicios en la parte izquierda te apareceran los tipos de busquedas ya sea de servicios ,busqueda normal o por nombre
            </p>
          </div>
        </div>
        <div class="text-center cursor-pointer" (click)="toggleQuestionGroup()">
          <span class="text-blue-600">Ver más preguntas</span>
          <span *ngIf="showFirstGroup" class="ml-2">&#8595;</span> 
          <span *ngIf="!showFirstGroup" class="ml-2">&#8593;</span>
        </div>
        <div *ngIf="!showFirstGroup">
          <div class="p-4 bg-gray-100 rounded-lg shadow-md mb-4">
            <h3 class="text-lg lg:text-xl font-semibold text-gray-700 cursor-pointer" (click)="toggleAnswer(4)">
              ¿Cuál es el horario de atención de los establecimientos ?
            </h3>
            <p *ngIf="answers[4]" class="text-gray-600">
             El horario de atencion de cadda establecimiento aparecen en los detalles de cada establecimiento como sus servicios y tambien ubicaciones
            </p>
          </div>
          <div class="p-4 bg-gray-100 rounded-lg shadow-md mb-4">
            <h3 class="text-lg lg:text-xl font-semibold text-gray-700 cursor-pointer" (click)="toggleAnswer(5)">
              ¿Como  puedo calificar un establecimiento ?
            </h3>
            <p *ngIf="answers[5]" class="text-gray-600">
              Puedes calificar un establecimiento cuando ya halla cambiado tu estatus en la cita, cuando la cita ya este en atendidas te aparecera un boton con la opcion califica tu experiencia.
            </p>
          </div>
          <div class="p-4 bg-gray-100 rounded-lg shadow-md mb-4">
            <h3 class="text-lg lg:text-xl font-semibold text-gray-700 cursor-pointer" (click)="toggleAnswer(6)">
              ¿Como cierro mi sesion si ya no lo necesito?
            </h3>
            <p *ngIf="answers[6]" class="text-gray-600">
              Simplemente le das click al boton de cerrar sesion y automaticamente te cierra tu sesion.
            </p>
          </div>
          <div class="p-4 bg-gray-100 rounded-lg shadow-md mb-4">
            <h3 class="text-lg lg:text-xl font-semibold text-gray-700 cursor-pointer" (click)="toggleAnswer(7)">
              ¿Como puedo saber los detalles de una campaña?
            </h3>
            <p *ngIf="answers[7]" class="text-gray-600">
            Cuando desees mas informacion de una campaña solo le das click al boton de mas informacion y al instante te aparecera la informacion de la campaña.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<app-footerpatient></app-footerpatient>
