<header class="h-32 w-full flex justify-between items-center bg-slate-50 px-12 shadow-lg">
    <div class="flex items-center space-x-10">
      <img src="./assets/icon-vital.png" alt="Vital SH Logo" class="h-24 w-25">
    </div>
    <nav class="flex-grow flex justify-center space-x-16">
      <button class="text-[#9042B7] font-bold hover:underline text-xl" (click)="horarios()">HORARIOS</button>
      <button class="text-[#9042B7] font-bold hover:underline text-xl" (click)="citas()">CITAS</button>
      <button class="text-[#9042B7] font-bold hover:underline text-xl" (click)="campaigns()">CAMPAÑAS</button>
    </nav>
    <button class="bg-[#BE6DD7] text-white font-medium py-2 px-6 rounded hover:bg-purple-700 transition-colors" (click)="login()">Log In</button>
  </header>
  