<div class="text-center text-white py-8 mx-auto max-w-screen-xl px-8" style="background-color: #812B8A;">
  <h2 class="text-3xl font-semibold mb-8">CAMPAÑAS</h2>

  <div class="flex justify-center gap-8 flex-wrap">
    <div
      class="bg-[#EAE2F5] text-black rounded-lg shadow-lg w-64 h-72 p-4 flex flex-col items-center transform transition-transform duration-200 hover:scale-105 hover:shadow-2xl"
      *ngFor="let campaign of visibleCampaigns"
    >
      <img [src]="campaign.image" [alt]="campaign.title" class="rounded-lg mb-4 w-40 h-40 object-cover" />
      <h3 class="text-lg font-medium mb-3 text-center truncate w-full">{{ campaign.title }}</h3>
      <button class="text-white border border-white py-2 px-6 rounded-full w-full text-sm" style="background-color: #812B8A;">
        Más Información
      </button>
    </div>
  </div>

  <div class="flex justify-center mt-8 gap-6">
    <button (click)="prevCampaigns()" class="text-white border border-white rounded-full w-14 h-14 flex items-center justify-center" style="background-color: #812B8A;">
      &#8249;
    </button>
    <button (click)="nextCampaigns()" class="text-white border border-white rounded-full w-14 h-14 flex items-center justify-center" style="background-color: #812B8A;">
      &#8250;
    </button>
  </div>
</div>
